.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff; /* Light background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.nav-link:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }
}